<section>
  <h1>Profile</h1>
  <form action="/new" method="post">
    Post id:<br>
    <input type="text" name="id" value="">
    <br>
    Post name:<br>
    <input type="text" name="name" value="">
    <br>
    Post Content:<br>
    <input type="text" name="content" value="">
    <br>
    <br><br>
    <input type="submit" value="Post">
  </form>


</section>